.filter_style {
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#list_card {
  margin-top: 10%;
  margin-left: 45%;
}
#zagalovok {
  text-align: center;
}
