@media all and (max-width: 793px) {
  .order_center_right {
    width: 35%;
  }
}

@media all and (max-width: 685px) {
  .order_center,
  .order_bottom {
    display: flex;
    flex-wrap: wrap;
  }
  .order_center_left,
  .order_bottom_left,
  .order_center_right,
  .order_bottom_right {
    width: 75%;
  }
  .order_div_top_h1 {
    font-size: 45px;
  }
}

@media all and (max-width: 404px) {
  .order_center_left,
  .order_bottom_left,
  .order_center_right,
  .order_bottom_right {
    width: 95%;
  }
}
@media all and (max-width: 533px) {
  .order_div_top_h1 {
    font-size: 35px;
    width: 100%;
  }
}

@media all and (max-width: 320px) {
  .order_div_top_h1 {
    font-size: 25px;
    width: 100%;
  }
  .order_div_top_pp,
  .order_div_top_p {
    font-size: 14px;
  }
}
