@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#app_bar {
  margin-top: 1%;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.672);
}
.nav {
  display: block;
}
.nav_logo {
  display: none;
}
.NavbarLeft {
  transition: 0.4s;
  opacity: 0.7;
}
.NavbarRight {
  margin-right: -63px !important;
}
.toolbar__end {
  /* background-color: green; */
  display: flex;
  justify-content: space-evenly !important;
  margin: 0 !important;
  width: 95% !important;
}
.header__bureger {
  display: none;
}
